body {
    background-color: rgb(230, 230, 230);
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
}
.content {
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 140px auto;
    align-items: center;
    background-color: gray;
    color: white;
}
main{
    padding: 0 5px;
}

footer {
    background-color: gray;
    padding: 10px;;
    color: white;
    text-align: center;
}