body {
    background-color: rgb(230, 230, 230);
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
}
.content {
    max-width: 960px;
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: gray;
    color: white;
    padding: .2em 0;
}
main{
    padding: 0 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    column-gap: 1em;
}

footer {
    background-color: gray;
    padding: 10px;;
    color: white;
    text-align: center;
}
img {
    width: 100%;
}
p{
    line-height: 1.4em;
}
main h2, main h3{margin-bottom: 0;}
main h4{margin: 1em auto 1.5em;}
div.principle {
    margin: 2em auto 4em;
}