body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    display: block;
    margin: 35px 25px;
    border: 1px black solid;
    box-shadow: 5px 5px 10px gray;
}
.italic {
    font-style: italic;
}
picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 1s;
}
  