/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
    
    .header-content {
        display: grid;
        grid-template-columns: 1fr 2fr 5fr 1fr;
        grid-template-rows: 1fr auto;
    }
    #currentdate{
        /*grid-row: 2;*/
        width: auto;
        
    }
    #menu_btn{
        display: none;
    }
    header h1 {
        margin: .2em 0;
        font-size: 1.7em;
    }
    header h2 {
        margin: .1em 0;
        font-size: 1em;
    }
    .media-logo{
        margin-left: 10px;
    }
    nav{
        display: block;
        grid-column: 3/4;
        grid-row: 1;
        margin: auto 0;
        list-style: none;
        border-top: #c0c0c0 1px solid;
        border-bottom: #c0c0c0 1px solid;
        background-color: transparent;
    }
    
    nav ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    header nav ul li{
        /* flex: 1 1 auto; */
        text-align: center;
        list-style: none;
    }
    
    header nav ul li a{
        display: block;
        padding: .5em 1em;
        /* background-color: #1660A0;
        color: white; */
        text-decoration: none;
        
    }
    
    header nav ul li a:hover {
        color: #137FB5;
        background-color: #137FB5;
        color: white;
    }    
    main.home{
        max-width: 950px;
        margin: 1em auto;
        grid-template-columns: 1fr 3fr 1fr;
    }
    div.page-content{
        max-width: 950px;
        margin: 1em auto;
        /* display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px; */
    }
    /* div.page-content #banner{
        grid-column: 1/3;
    } */
    aside {
        display:grid;
        grid-template-columns: repeat(4,1fr);
    }
    aside #join, aside #event, 
    aside #weather, aside #news{
        grid-column: auto ;
        grid-row: auto ;
    }
    #hero>img {
        height: 100%;
    }
    h5{
        font-size: 1em;
        margin: 0;
    }
    main.home>section p, main.home>div p{
        font-size: .8em;
        margin: 5px;
    }
    .spotlight-footer p{
        font-size: 80%;
        /* padding: 0;
        margin: 0 5px; */
    }
    #event{
        grid-row: 1;
    }
    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    #weather {
        grid-row: 2;
        grid-column: 1/2;
        
    }
    #weather .degrees{
        font-size: 2em;
    }
    #weather .temp-desc{
        font-size: 1.3em;
    }
    #weather .weather-detail{
        font-size: .8em;
        
    }
    #spotlights{
        grid-column: 3;
        grid-row: 1/4;
        grid-template-columns: 1fr;
        row-gap: .5em;
    }
    .spotlight-footer {
        font-size: 90%;
        line-height: 1.2em;
    }
    #spotlights section:last-of-type{
        display: block;
    }
    #join {
        grid-column: 1/2;
        grid-row: 3;
    }
    #news {
        grid-column: 2/3;
        grid-row: 3;
    }
    footer{
        justify-content: center;
    }
    footer div:not(:last-of-type){
        margin: 1em 2em;
    }
    footer .logo{
        margin-left: auto;
    }
    footer .info ul li:last-of-type{
        width: auto;
    }
    main.std {
        padding-bottom: 50px;
        gap: 50px;
    }
    main.std h2{
        align-self: flex-start;
        margin-bottom: 0;
    }
    /* main.std>h2, main.std>.full-width{
        grid-column: 1/4;
    }
    main.std>p.right{
        grid-column: 2/4;
        padding-bottom: 15px;
        border-bottom: 2px dotted white;
    }
    main.std>p.left{
        grid-column: 1/3;
        padding-bottom: 15px;
        border-bottom: 2px dotted white;
    }
    main.std>  .row3{
        grid-row: 3;
    }
    main.std>  .row4{
        grid-row: 4;
    }
    main.std>  .row5{
        grid-row: 5;
    }
    main.std>  .row6{
        grid-row: 6;
    } */

    main.std img{border: 2px solid gray;  border-radius: 5px;}
    main.std img.glow:hover{ 
        /*filter: grayscale(75%)*/
        filter: drop-shadow(0 0 1rem white);
    }
    main.std img.invert:hover{ filter: invert(1);}
    main.std img.blur:hover{ filter: blur(2px);}
    main.std img.contrast:hover{ filter: contrast(3.5);}
    main.std img.rotate:hover{ filter: hue-rotate(3.142rad);}
}